html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}
main{
	flex-grow: 1;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	background: #1C1C1E;
	background-image: url("../images/bg.svg");
	background-repeat: no-repeat;
	background-size: 642px;
	background-position-x: calc(100%);
    background-position-y: calc(400%);


    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 2.50px;
        height: 148%;
        background-color:#fff;
		left: calc(50% + 112px);
		top: 0;
    }
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
